{% extends "Base.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Posts</h1>
    {% for post in posts %}
        <p>
            <a href="{% url 'post_detail' post.pk %}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                {{ post.title }}
            </a>
            <a href="#" class="btn btn-secondary">
                Edit
            </a>
            <a href="#" class="btn btn-danger">
                Delete
            </a>
        </p>
    {% endfor %}

{% endblock %}
