{% extends "Base.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Posts</h1>
    <a href="{% url 'post_create' %}" 
       class="btn btn-primary">
        Create Post
    </a>
    {% for post in object_list %}
        <p>
            <a href="{% url 'post_detail' post.pk %}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                {{ post.title }}
            </a>
            <a href="{% url 'post_update' post.pk %}" class="btn btn-secondary">
                Edit
            </a>
            <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">
                Delete
            </a>
        </p>
    {% endfor %}

{% endblock %}
