{% extends "Base.html" %}
{% block title %}
    Update Post
{% endblock %}

{% block content %}
    <h1>Update Post</h1>
    {% if user.is_authenticated %}
        {% if user == post.author or user.is_superuser %}
            <form method="post" type="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                    <div class="errors">{{ form.errors }}</div>
                {% endif %}
                <button>Update</button>
            </form>
        {% else %}
            <p>You are not the author</p>
        {% endif %}
    {% else %}
        <p>go to <a href="{% url 'login' %}">Login</a></p>
    {% endif %}
{% endblock %}