{% extends "Base.html" %}
{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<h2>{{ object.title }}</h2>
    <p>
        <img src="{{ object.header_image.url }}" alt="">
    </p>
    <p>{{ object.body }}</p>
    <p>Created on: {{ object.created_on }}</p>
    <p>{{ object.author }}</p>
    <p>Likes: {{ object.likes.count }}</p>
    <p><a href="{% url 'post_update' object.pk %}" class="btn btn-secondary">Edit</a></p>
    <p><a class="btn btn-danger">Delete</a></p>
{% endblock %}
